.marvelhero {
    border: 1px solid black;
    width: fit-content;
    border-radius: 10px;
    justify-content:space-around;
}

img {
    margin-top: 20px;
    border-radius: 15%;
    width: 500px;
    height: 400px;

}