.bodyfondo {
    background-image: url('assets/marvelFondo.jpg'); 
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

@media (max-width: 768px) {
    .bodyfondo {
        background-size: contain;
        background-attachment: scroll;
    }
}
.marvelheroconteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nametitle {
    color: rgb(172, 111, 111);
    font-size: 28px; 
    margin-left: 550px;
    padding-top: 8px;
}
@media (max-width: 768px) {
    .nametitle {
        font-size: 20px;
        margin-left: 20px; 
        padding-top: 20px; 
    }
}

.buttonpagination {
    margin-left: 70px;
}

.buttonpagination button{
    border-radius: 25%;
    border: 1px solid red;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
}


.buttonpagination button:hover{
    transform: scale(1.05); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

